.mt1 {
    color: black;
    width: 500px;
    height: auto;
    padding: 10px;
    float: left;
    margin-top: 200px;
}

/* .mt1>button {
    padding: 10px;
    width: 200px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: silver;
    border-radius: 20px;
    margin-left: 100px;
} */
/* 
.mt1>button:hover {
    background-color: rgba(22, 22, 22, 0.6);
    color: white;
} */

.mt1>h1 {
    filter: drop-shadow(0px 0px 20px black);
    font-size: 40px;
}

.mt1>h2 {
    filter: drop-shadow(0px 0px 20px black);
}

.mt1>p {
    font-size: 20px;
}


.mt2>img {
    border-radius: 20px;
    width: 80vh;
    margin-left: 30px;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}


.skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 10px;
    padding: 0px;
    margin: 0px;
}

.skills>.on>img {
    max-height: 250px;
    min-width: 20px;
    max-width: 250px;
    min-height: 20px;
    border: 2px solid black;
    border-radius: 10PX;
}

.skills>.on:hover {
    filter: drop-shadow(0px 0px 30px silver);
}

.prj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: auto;
    margin: 20px;
}



.prj>.Library>a>button {
    width: 250px;
    padding: 10px;
    background-color: black;
    color: wheat;
    font-size: 10px;
    text-align: center;
    border-radius: 10px;
}
.prj>.Library>a>img:hover{
    filter: drop-shadow(0px 0px 20px black);
}

.prj>.Library>a>button:hover {
    background-color: rgba(22, 22, 22, 0.6);
    filter: drop-shadow(0px 0px 10px silver);
}

.prj>.Shoes_store>a>button {
    padding: 10px;
    width: 250px;
    background-color: black;
    font-size: 10px;
    text-align: center;
    color: wheat;
    border-radius: 10px;
}
.prj>.Shoes_store>a>img:hover{
    filter: drop-shadow(0px 0px 20px black);
}
.prj>.Shoes_store>a>button:hover {
    background-color: rgba(22, 22, 22, 0.6);
    filter: drop-shadow(0px 0px 10px silver);
}

.prj>.gardner>a>button {
    padding: 10px;
    width: 250px;
    background-color: black;
    font-size: 10px;
    text-align: center;
    color: wheat;
    border-radius: 10px;
}
.prj>.gardner>a>img:hover{
    filter: drop-shadow(0px 0px 20px black);
}
.prj>.gardner>a>button:hover {
    background-color: rgba(22, 22, 22, 0.6);
    filter: drop-shadow(0px 0px 10px silver);
}
.prj>.gard_mobile>a>button {
    padding: 10px;
    width: 250px;
    background-color: black;
    font-size: 10px;
    text-align: center;
    color: wheat;
    border-radius: 10px;
}
.prj>.gard_mobile>a>img:hover{
    filter: drop-shadow(0px 0px 20px black);
}
.prj>.gard_mobile>a>button:hover {
    background-color: rgba(22, 22, 22, 0.6);
    filter: drop-shadow(0px 0px 10px silver);
}

.pl>img {
    filter: drop-shadow(0px 0px 20px silver);
    filter: blur(1px);
}