* {
    margin: 0;
    padding: 0;
}

.ph {
    border-radius: 100px 200px 50px 90px;
    filter: drop-shadow(10px 10px 20px white);
}

.card img {
    border-radius: 20px 20px 0px 0px;
    width: 300px;
    height: 200px;
}

.boom :hover {
    box-shadow: 5px 5px 10px silver;
    cursor: pointer;
}


.card {
    margin: 20px;
    width: 300px;
    height: 300px;
}


.con {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    justify-content: center;
}

.boom {
    display: inline-flex;
    width: 300px;
    flex-wrap: wrap;
}

.m {
    padding: 10px;
    margin: 5px;
}

.cont {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.ed {
    margin-left: 30px;
    margin-bottom: 30px;
}

.side_projects :hover {
    box-shadow: 5px 5px 10px silver;
}

.social {
    display: flex;
    flex-direction: column;
}

.social a img {
    height: 50px;
    margin-top: 7px;
    width: 50px;
}

.photo ul li {
    list-style: none;
    margin-left: 50px;
}

.photo img {
    height: 500px;
    margin-top: 50px;
}
.card a{
    color: white;
}

.wrappertop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.photo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 100px;
}


.typewriter {
    margin-top: 5%;
    margin-left: 20px;
}

.typewriter h1 {
    font-size: 40px;
}

.aboutme {
    margin-top: 150px;
}

.typing-demo {
    width: 25ch;
    animation: typing 6s steps(25) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@media (max-width:900px) {
    .con {
        flex-wrap: wrap;
    }
}

@media (max-width:600px) {
    .con {
        flex-wrap: wrap;
    }

    .aboutme {
        margin-top: 50px;
    }

    .wrappertop {
        flex-direction: column;
    }

    .photo img {
        height: 200px;
        width: 200px;
    }

    .cont {
        margin: 10px;
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }

    .social a img {

        width: 10px;
    }

    .ed h2 {
        font-size: 12px;
    }

    .typewriter h1 {
        font-size: 20px;
    }

    h1 {
        font-size: 15px;
    }

    h3 {
        font-size: 12px;
    }

    .card-text {
        font-size: 10px;
    }

    .m {
        font-size: 12px;
        padding: 2px;
    }

    .exp {
        margin-top: 20px;
    }

    .exp2 {
        margin-top: 10px;
        margin-left: 10px;
    }
    .exp1{
        margin: 5px;
        margin-left: 10px;
    }

    .card {
        width: 200px;
    }

    .card img {
        border-radius: 20px 20px 0px 0px;
        width: 200px;
        height: 150px;
    }

    .social {
        width: 20px;
    }

    .cont {
        flex-wrap: wrap;
    }

    .ki {
        margin-left: 0;
        margin-top: 20px;
    }

    .side_projects {
        margin-top: 20px;
    }

    .photo img {
        width: 200px;
    }

}

@media (max-width:450px) {
    .card {
        width: 150px;
        height: 200px;
    }

    .card img {
        width: 160px;
        height: 120px;
    }

    .card_text {
        font-size: 10px;
    }

    .con {
        flex-wrap: wrap;
    }
}